@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap')

:root
    --background-color: #1B1B1B
    --color: #E1C4A2
    --font: 'Abel', sans-serif
    --boxShadow: #e1c4a28a
    --background: #E1C4A2