// Importes

@import "_variables.sass"

// Reset

*
    padding: 0
    margin: 0
    box-sizing: border-box
    list-style: none
    text-decoration: none
    font-family: var(--font)


body
    background-color: var(--background-color)
    color: var(--color)

    a
        color: var(--color)

.hidden
    overflow: hidden
    display: block !important

// Scrollbars

body::-webkit-scrollbar
    width: .6rem
   
body::-webkit-scrollbar-thumb
    background-color: var(--background)
    border: 1px solid #e1c4a291
    outline: 1px solid #e1c4a204
    border-radius: 5rem

.modalFilter::-webkit-scrollbar-thumb
    background-color: #E1C4A2
    border-radius: 5rem

.modalFilter::-webkit-scrollbar
    width: .4rem
    height: 0rem

// Menu

#headerMenu
    transition: ease-in-out 800ms
    transform: translate(-200rem)
    height: 100%
    width: 100%
    position: absolute
    z-index: 100
    top: 0

    .headerNavigation
        display: flex
        flex-direction: column
        gap: 1rem
        position: absolute
        box-shadow: 1px 1px 1px var(--boxShadow)
        padding: 1rem
        width: 30%
        height: 91.7%    
        top: 5rem    
        background-color: #1B1B1B


        div:nth-child(1)
            display: flex
            align-items: center
            gap: 1rem

            div
                display: flex
                justify-content: center
                align-items: center
                border: 1px solid 
                padding: .3rem
                width: 2.8rem
                border-radius: 50%
                font-size: 1.5rem

        div:nth-child(2)
            nav > ul
                height: 9rem
                padding: 1rem
                display: flex
                flex-direction: column
                gap: 1rem

.open
    transform: translateX(0rem) !important
    height: 100vh

// Header

#headerId
    box-shadow: 1px 1px 10px var(--boxShadow)

    .headerNav
        padding: 1rem
        display: flex
        justify-content: space-between
        align-items: center

        div:nth-child(1)
            display: flex
            align-items: center
            gap: 1rem

            button
                font-size: 2rem
                display: none

            div
                border: 1px solid var(--color)
                padding: .3rem
                font-size: 1.5rem
                border-radius: 50%
                width: 2.8rem
                display: flex
                justify-content: center
                align-items: center

        div:nth-child(2)
            nav
                ul
                    display: flex
                    gap: 2.5rem

                    a
                        &:hover
                            margin-top: 1rem
                            transition: ease-in-out 300ms 
                            border-bottom: 1px solid #E1C4A2

footer
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    box-shadow: 1px 1px 10px var(--boxShadow)
    height: 12rem
    text-align: center

    div
        width: 100%
        div:nth-child(1)
            display: flex
            justify-content: center
            align-items: center

            div
                flex: 1

    .logo
        display: flex
        justify-content: center
        align-items: center

        span
            border: 1px solid #E1C4A2
            height: 12.4rem
            width: 12rem
            border-radius: 100%
            box-shadow: 1px 1px 10px #E1C4A2
            overflow: hidden
            position: relative

            div:nth-child(1)
                width: 15rem
                height: .1rem
                background-color: #E1C4A2
                position: absolute
                transform: rotate(45deg)
                margin-left: -3.5rem !important
                box-shadow: 1px 1px 10px #E1C4A2
                top: 9.5rem

            div:nth-child(2)
                width: 15rem
                height: .1rem
                background-color: #E1C4A2
                position: absolute
                transform: rotate(-45deg)
                margin-left: .5rem !important
                top: 9.5rem
                box-shadow: 1px 1px 10px #E1C4A2

            div:nth-child(3)
                width: 15rem
                height: .1rem
                background-color: #E1C4A2
                position: absolute
                transform: rotate(-45deg)
                margin-left: -2rem !important
                top: 1rem
                box-shadow: 1px 1px 10px #E1C4A2

            div:nth-child(4)
                width: 20rem
                height: .1rem
                background-color: #E1C4A2
                position: absolute
                transform: rotate(48deg)
                margin-left: -5rem !important
                top: -1rem
                box-shadow: 1px 1px 10px #E1C4A2

            
            div:nth-child(5)
                width: 100%
                height: .1rem
                position: absolute
                transform: translateY(-1.9rem)
                font-size: 4rem
                text-shadow: 1px 1px 10px #E1C4A2
                top: 5rem

    h3
        font-size: 2rem

@media (max-width: 900px)
    #Menu
        font-size: 2rem
        display: block !important
        z-index: 9999

    .headerNav
        div
            display: none

        div:nth-child(1)
            div
                display: none !important
        
@media (max-width: 700px)
    .headerNavigation
        div:nth-child(1)
            div
                display: none !important

@media (max-width: 700px)     
    #headerMenu
        .headerNavigation
            width: 50%

.filter
    border: 1px solid #E1C4A2
    padding: .7rem
    top: 11.5rem
    z-index: 5
    font-size: 1.5rem
    position: fixed
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    background-color: #716253

.modalFilter
    position: fixed
    box-shadow: 1px 1px 10px var(--boxShadow)
    border-radius: 10px
    border: 1px solid var(--boxShadow)
    z-index: 5
    top: 11.5rem
    left: 5rem
    height: 12rem
    overflow: scroll
    padding: 1rem 2rem
    background-color: var(--background-color)
    transform: translateX(-30rem)
    transition: ease-in-out 500ms

    li
        list-style: disc

    a
        &:hover
            color: #846d54

.open
    transform: translateX(0)
    transition: ease-in-out 500ms

.cutBody
    overflow: hidden
    position: relative
    margin-bottom: 2rem

@media (max-width: 800px)
    footer
        .logo
            display: none

@media (orientation: landscape)
    .modalFilter
        top: 5.3rem

.fechado
    transform: translateX(-30rem) !important