@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap')
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")

#bannerId
    overflow: hidden
    display: flex
    justify-content: space-between
    align-items: center
    height: 55rem
    position: relative
    
    h1
        font-size: 3rem

    p
        font-size: 1.2rem

    div
        flex: 1

    ion-icon 
        font-size: 1.5rem
 
    div:nth-child(1)
        display: flex
        flex-direction: column
        transform: translateX(2rem)
        gap: 6rem

        .btn
            display: flex
            justify-content: center
            align-items: center 
            width: 30%
            transform: translateX(2rem)
            border-radius: 5px
            box-shadow: 1px 1px 10px #e1c4a28a, -1px -1px 10px #e1c4a28a, -1px 1px 10px #e1c4a28a
            transition: ease-in-out 500ms

            &:hover
                transition: ease-in-out 500ms
                margin-left: 2rem
                box-shadow: 1px 1px 20px #e1c4a28a, -1px -1px 20px #e1c4a28a, -1px 1px 20px #e1c4a28a

        .btnHref
            display: flex
            justify-content: center
            align-items: center 
            padding: .65rem
            width: 100%

            span
                flex: 1
                margin-right: 1rem
                border-right: 1px solid 
            

        div:nth-child(2)
            span
                margin-right: 1rem
                transition: ease-in-out 500ms 

                &:hover
                    transition: ease-in-out 500ms 
                    padding: .5rem

            transform: translateX(2rem)

@media (max-width: 900px)
    #bannerId
        div:nth-child(3)
            display: none

@media  (max-width: 500px)
    #bannerId h1
        font-size: 2rem

.carousel-indicators
    button
        padding: .4rem !important
        width: 15% !important
        border-radius: 15rem !important
        margin-left: 1rem !important
        margin-right: 1rem !important
        background-color: #E1C4A2 !important

@media (max-width: 700px)
    .carousel-indicators
        button
            width: 20% !important

@media (max-width: 600px)
    .carousel-control-prev-icon
        border-radius: 50%
        padding: 1rem !important
        background-color: black
        background-size: 1rem !important

    .carousel-control-next-icon
        border-radius: 50%
        padding: 1rem !important
        background-color: black
        background-size: 1rem !important


.carousel-control-prev-icon
    border-radius: 50%
    padding: 2rem 
    background-color: black
    background-size: 2rem

.carousel-control-next-icon
    border-radius: 50%
    padding: 2rem 
    background-color: black
    background-size: 2rem

#title
    width: 63%

#title::after
    content: '|'
    margin-left: 5px
    opacity: 1
    animation: pisca .7s infinite

@keyframes pisca
    0%, 100%
        opacity: 1
        
    50%
        opacity: 0
        

.skills
    div
        margin: 2rem

        h1
            font-size: 2rem
            
    div:nth-child(2)
        width: 30%
        height: .5rem
        background-color: #E1C4A2
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px

    div:nth-child(3)
        width: 40%
        height: .5rem
        background-color: #E1C4A2
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px

.cardSkills::-webkit-scrollbar
        width: 0rem
        height: .3rem
   
.cardSkills::-webkit-scrollbar-thumb
        background-color: #E1C4A2
        border-radius: 5rem

.cardSkills
    display: flex
    overflow: scroll
    gap: 5rem
    padding: 2rem

    div
        box-shadow: 1px 1px 20px #e1c4a256

        div:nth-child(1)
            border: 1px solid #E1C4A2
            padding: 4rem
            font-size: 5rem
            border-top-right-radius: 5px
            border-top-left-radius: 5px

        div:nth-child(2)
            border: 1px solid #E1C4A2
            font-size: 1.5rem
            text-align: center
            border-bottom-right-radius: 5px
            border-bottom-left-radius: 5px
            cursor: pointer


.C
    div

        div:nth-child(1)
            padding: 4.5rem
        

// card

.modalBox

    div
        border: none !important
        padding: 0 !important
        backdrop-filter: blur(0) !important

    .modal-title
        padding: 1rem

    .btn-primary
        width: 100% !important
        padding: 1rem
        font-family: 'Abel', sans-serif
        font-size: 1.5rem
        border: none
        color: #E1C4A2 !important
        background: transparent !important

        &:hover
            background-color: transparent !important
            color: #E1C4A2 !important

    .modal-dialog
        padding: 0 !important
        border: none !important

    .modal-content
        background-color: #1B1B1B !important
        border: 1px solid #E1C4A2 !important

    .modal-body
        div
            border-top: 1px solid #E1C4A2 !important
            border-radius: 0 !important
            font-size: 1.2rem !important
            text-align: justify !important
            padding: 1rem !important

        div:nth-child(2)
            progress
                margin-right: 1rem                
                transform: translateY(0.2rem) !important
                border-radius: 10px !important

            progress::-webkit-progress-value 
                color: #E1C4A2 !important
                background-color: #E1C4A2 !important
                border-radius: 10px

            progress::-webkit-progress-bar
                border-radius: 10px

    .btn-close
        padding: 0 !important
        font-size: 2rem
        color: #E1C4A2 !important
        transform: translateX(-1rem)
        margin-top: -1.5rem

    .btn-close:focus
        box-shadow: none !important
        outline: none !important
        color: #E1C4A2 !important


.carousel-item
    position: relative

    a
        position: absolute
        top: 0
        width: 100%
        height: 100%
        background-color: #000000b2
        font-size: 5rem
        display: flex 
        justify-content: center 
        align-items: center 

    h1
        border-top: 1px solid #E1C4A2
        border-bottom: 1px solid #E1C4A2
        transition: ease-in-out 500ms
        padding: 1rem

        &:hover
            border: 1px solid #E1C4A2
            border-radius: 5px
            transition: ease-in-out 500ms
            margin-right: -5rem
            backdrop-filter: blur(1rem)
            box-shadow: 1px 1px 50px #E1C4A2

.imgProject
    height: 57%
    width: 100%
    position: relative

@media (max-width: 1000px)
    .carousel-item

        a
            font-size: 3rem


@media (max-width: 700px)
    .carousel-item

        a
            font-size: 2rem


@media (max-width: 400px)
    .carousel-item

        a
            font-size: 1rem
           
            h1
                padding: .5rem

.logo2
    height: 35rem
    position: relative

    span
        position: absolute
        border: 1px solid #E1C4A2
        box-shadow: 1px 1px 20px #E1C4A2
        height: 35rem 
        width: 35rem 
        border-radius: 100%
        overflow: hidden

        div:nth-child(1)
            width: 30rem
            height: .1rem
            background-color: #E1C4A2
            position: absolute
            transform: rotate(45deg) !important
            margin-left: 7rem !important
            box-shadow: 1px 1px 20px #E1C4A2
            top: 7rem

        div:nth-child(2)
            width: 30rem
            height: .1rem
            background-color: #E1C4A2
            position: absolute
            transform: rotate(-45deg)
            margin-left: -2rem !important
            top: 7rem
            box-shadow: 1px 1px 20px #E1C4A2

        div:nth-child(3)
            width: 30rem
            height: .1rem
            background-color: #E1C4A2
            position: absolute
            transform: rotate(-45deg)
            margin-left: 10rem !important
            top: 25rem
            box-shadow: 1px 1px 20px #E1C4A2

        div:nth-child(4)
            width: 30rem
            height: .1rem
            background-color: #E1C4A2
            position: absolute
            transform: rotate(45deg)
            margin-left: -5rem !important
            top: 25rem
            box-shadow: 1px 1px 20px #E1C4A2

        div:nth-child(5) 
            display: flex !important
            justify-content: center !important
            align-content: center !important
            position: absolute
            font-size: 10rem
            text-shadow: 1px 1px 20px #E1C4A2
            width: 100%
            transform: translateY(10rem)

@media (max-width: 1199px)
    .logo2
        display: none

.carousel-indicators [data-bs-target]
    border-top: none !important
    border-bottom: none !important

.projectPorcente
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem

    progress::-webkit-progress-value 
        color: #E1C4A2 !important
        background-color: #E1C4A2 !important
        border-radius: 10px

    progress::-webkit-progress-bar
        border-radius: 10px

.scrollProject::-webkit-scrollbar-thumb
    background-color: #E1C4A2
    border-radius: 5rem

.scrollProject::-webkit-scrollbar
    width: 0
    height: .2rem

#project_progress::-webkit-scrollbar
    width: .2rem
    height: 0rem

#project_progress::-webkit-scrollbar-thumb
    background-color: #E1C4A2
    border-radius: 5rem

.openProject_progress
    transform: translateY(0) !important
    transition: 300ms ease-in-out

#faculty::-webkit-scrollbar
    width: .2rem
    height: 0rem

#faculty::-webkit-scrollbar-thumb
    background-color: #E1C4A2
    border-radius: 5rem

#closeFaculty
    position: absolute
    top: 0
    right: 0
    cursor: pointer
    right: -.5rem
    top: -.5rem
    
#faculty
    transform: translateY(-100rem)
    position: fixed
    top: 10%
    left: 25%
    background-color: #1B1B1B
    width: 50%
    height: 80%
    z-index: 9999
    transition: 300ms ease-in-out
    overflow: scroll
    text-shadow: none !important
    
    div
        border: none
        box-shadow: none
        text-shadow: none !important

    div:nth-child(1), div:nth-child(2)
        position: relative
        display: flex
        gap: 1rem
        align-items: center
        justify-content: center
        text-shadow: none !important

        i
            font-size: 2rem
            text-shadow: none !important

#project_progress
    transform: translateY(-100rem)
    background-color: #1B1B1B
    position: fixed
    top: 1%
    z-index: 9999
    width: 50%
    height: 98%
    left: 25%
    text-shadow: none !important
    transition: 300ms ease-in-out
    overflow: scroll

    h1
        text-shadow: none !important

    div:nth-child(1)
        display: flex
        justify-content: space-between
        border: none
        box-shadow: none
        position: relative

        i
            position: absolute
            font-size: 2rem
            cursor: pointer
            right: -.5rem
            top: -.5rem
            text-shadow: none !important

    .scrollProject
        border: none
        box-shadow: none
        display: flex
        gap: 1rem
        overflow: scroll
        text-shadow: none !important

        div
            border: none
            box-shadow: none
            display: flex
            flex-direction: column
            padding: 0
            display: flex
            justify-content: center
            align-items: center

            div
                border: 1px solid
                border-top-right-radius: 5px
                border-top-left-radius: 5px
                border-bottom-right-radius: 0
                border-bottom-left-radius: 0
                height: 15rem
                width: 15rem

        a
            border: 1px solid
            padding: 1rem
            width: 15rem
            border-top-right-radius: 0px
            border-top-left-radius: 0px
            border-bottom-right-radius: 5px
            border-bottom-left-radius: 5px
            text-align: center
            margin-top: -1rem

.coinsbank
    div
        background-image: url(../img/coinsbank.jpg)
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        overflow: hidden
        position: relative

        &::before
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            height: 100%
            width: 100%
            background-color: #0000009d
            font-size: 1.5rem
            text-shadow: 1px 1px 5px black
            left: 0
            content: 'Coinsbank'
    span
        border-radius: 5px
        transition: 300ms ease-in-out
        &:hover
            box-shadow: 0px 0px 5px #E1C4A2  
            transform: scale(.95)
            transition: 300ms ease-in-out
            text-shadow: none !important

.southbike
    div
        background-image: url(../img/southbike.jpg)
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        overflow: hidden 
        position: relative

        &::before
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            height: 100%
            width: 100%
            background-color: #0000009d
            font-size: 1.5rem
            text-shadow: 1px 1px 5px black
            left: 0
            content: 'Southbike'

        &:hover
            box-shadow: 0px 0px 0px transparent !important

    span
        border-radius: 5px
        transition: 300ms ease-in-out
        &:hover
            box-shadow: 0px 0px 5px #E1C4A2  
            transform: scale(.95)
            transition: 300ms ease-in-out
            text-shadow: none !important

.app
    div
        background-image: url(../img/application.jpg)
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        overflow: hidden
        position: relative

        &::before
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            height: 100%
            width: 100%
            background-color: #0000009d
            font-size: 1.5rem
            text-shadow: 1px 1px 5px black
            left: 0
            content: 'Aplicativo Southbike'

        &:hover
            box-shadow: 0px 0px 0px transparent !important

    span
        border-radius: 5px
        transition: 300ms ease-in-out
        &:hover
            box-shadow: 0px 0px 5px #E1C4A2  
            transform: scale(.95)
            transition: 300ms ease-in-out
            text-shadow: none !important

.ecommerce
    div
        background-image: url(../img/ecommerce.jpg)
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        overflow: hidden
        position: relative

        &::before
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            height: 100%
            width: 100%
            background-color: #0000009d
            font-size: 1.5rem
            text-shadow: 1px 1px 5px black
            left: 0
            content: 'Ecommerce'

        &:hover
            box-shadow: 0px 0px 0px transparent !important

    span
        border-radius: 5px
        transition: 300ms ease-in-out
        &:hover
            box-shadow: 0px 0px 5px #E1C4A2  
            transform: scale(.95)
            transition: 300ms ease-in-out
            text-shadow: none !important

@media (max-width: 750px)
    #project_progress
        width: 98%
        height: 98% !important
        left: 1%

    #faculty
        top: 1%
        width: 98%
        height: 98% !important
        left: 1%

@media (max-width: 400px)
    #project_progress .scrollProject
        display: flex
        flex-direction: column   

@media (max-width: 320px)
    #project_progress .scrollProject
        div
            div
                width: 12rem !important
        a
            width: 12rem !important    

.VitorPhotos
    width: 30%
    box-shadow: 1px 1px 20px #e1c4a256
    border: 1px solid 
    border-radius: 5px
    background-image: url(../img/Vitor.jpg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative
    overflow: hidden

    
    &::before
        content: ''
        background: #00000048
        position: absolute
        width: 100%
        height: 100%


.aboutInfo
    display: flex
    justify-content: center
    flex-direction: column
    padding: 2.5rem
    gap: 2em

    .info
        display: flex
        justify-content: center
        margin-bottom: 5rem
        gap: 2rem 

    .experience
        
        div
            display: flex
            flex-direction: column

        .industry
            display: flex 
            align-items: center
            flex-wrap: wrap
            gap: 2rem
            flex-direction: row 

            li
                font-size: 1rem
                list-style:  disc
                font-family: var(--font)
                font-variant: none !important

    li
        list-style: disc
        font-size: 2rem
        font-weight: bold
        font-variant: small-caps
  
    div
        line-height: 2

    .information
        display: flex
        flex-wrap: wrap
        gap: 1rem

        h1
            font-size: 1.8rem

    .VitorCertification
    
        div
            box-shadow: 1px 1px 20px #e1c4a256
            margin-bottom: 1rem
            padding: 2rem
            border-radius: 5px 
            border: 1px solid 
            width: 100%

            span
                display: flex
                flex-direction: column
                font-size: 1.2rem
                cursor: pointer
                transition: 200ms ease-in-out

            &:hover
                transition: 200ms ease-in-out
                text-shadow: 1px 1px 20px #e1c4a2b4 !important

        .number
            font-size: 2rem

@media (max-width: 1420px)
    .VitorPhotos
        width: 100% !important

@media (max-width: 1200px)
    .aboutInfo
        .info
            display: flex
            flex-wrap: wrap 

    .VitorCertification
        width: 100%
    
    .VitorPhotos
        width: 60% !important
        height: 40rem

@media (max-width: 900px)
    .VitorPhotos
        width: 80% !important
        height: 40rem

@media (max-width: 650px)
    .VitorPhotos
        width: 100% !important
        height: 30rem

@media (max-width: 400px)
    .VitorPhotos
        width: 100% !important
        height: 20rem

@media (max-width: 350px)
    #bannerId
        h1
            font-size: 1.5rem

        p
            font-size: 1rem

@media (max-width: 300px)
    .VitorPhotos
        width: 100% !important
        height: 18rem

    #bannerId
        p
            font-size: .9rem

.CV
    width: fit-content
    margin: 2rem 0

    span
        border: 1px solid
        padding: 1rem 
        
    span:nth-child(1)
        border-top-left-radius: 4px   
        border-bottom-left-radius: 4px   

    span:nth-child(2)
        border-top-right-radius: 4px   
        border-bottom-right-radius: 4px   
    
    a
        padding: 1rem 0
        transition: 500ms ease-in-out
        &:hover
            text-shadow: 1px 1px 20px #E1C4A2
            box-shadow: 1px 1px 20px #E1C4A2
            transition: 500ms ease-in-out
    
.i
    font-size: 1rem

@media (max-width: 500px)
    .btn
        width: 65% !important