.h1
    text-align: center
    padding: 2rem

.imgBlock
    padding: 2rem
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    position: relative

    img
        width: 20rem

    &::before
        content: ''
        width: 100%
        position: absolute
        height: 100%
        background-color: #00000021
        top: 0
        box-shadow: 1px 1px 10px #e1c4a221, -1px -1px 10px #e1c4a221

.btnProject
    margin: 2rem

    a
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        border: 1px solid red
        border: 1px solid #E1C4A2

        p
            padding: 1rem

        i
            border-left: 1px solid #E1C4A2
            padding: 1rem

.textProject
    padding: 2rem
    font-size: 1.1rem

    h3
        margin: 2rem 0

    li
        list-style: disc
        margin-bottom: 1rem

    a
        width: fit-content
        cursor: auto
        li
            width: fit-content
            transition: ease-in-out 300ms
            cursor: pointer

            &:hover
                transition: ease-in-out 300ms
                color: #846d54

.btnProject
    display: flex
    flex-wrap: wrap
    gap: 1rem

    div:nth-child(1) a, div:nth-child(2) a
        transition: 500ms ease-in-out
        border-radius: 2px

        &:hover
            text-shadow: 1px 1px 20px #E1C4A2
            box-shadow: 1px 1px 20px #E1C4A2
            transition: 500ms ease-in-out

.alertProject
    position: relative
    color: red
    font-size: 1.5rem
    display: flex
    justify-content: center
    text-align: center
    width: 100%

    span
        top: 0 
        left: 0
        z-index: 99999
        width: 100%

.project
    cursor: pointer

.industry
    li
        font-weight: normal